In [2]:
import pandas as pd
from sklearn.cluster import KMeans

In [5]:
# Cargar el archivo de datos original
data = pd.read_csv('data_ecu.txt', sep='\t', header=None, names=['Longitude', 'Latitude'], on_bad_lines='skip')
#data = pd.read_csv(file_path, sep='\t', header=None, names=['Longitude', 'Latitude'], on_bad_lines=)

In [6]:
# Convertir los valores no numéricos en NaN y reemplazar comas por puntos
data['Longitude'] = pd.to_numeric(data['Longitude'].apply(lambda x: str(x).replace(',', '.')), errors='coerce')
data['Latitude'] = pd.to_numeric(data['Latitude'].apply(lambda x: str(x).replace(',', '.')), errors='coerce')

In [7]:
# Rellenar valores faltantes con la media de los valores válidos
data['Longitude'].fillna(data['Longitude'].mean(), inplace=True)
data['Latitude'].fillna(data['Latitude'].mean(), inplace=True)

<ipython-input-7-e942ebde8919>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Longitude'].fillna(data['Longitude'].mean(), inplace=True)
<ipython-input-7-e942ebde8919>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Latitude'].fillna(data['Latitude'].mean(), inplace=True)

In [8]:
# Aplicar K-means para agrupar las ubicaciones en 3 clusters
kmeans = KMeans(n_clusters=3, random_state=0)
data['cluster'] = kmeans.fit_predict(data[['Longitude', 'Latitude']])

In [9]:
# Generar el archivo de salida con exactamente 305 líneas
output_full = data.reset_index()[['index', 'cluster']]
output_full.columns = ['location_id', 'cluster_label']

In [10]:
#Guardar el archivo de salida
output_full.to_csv('clusters_full.txt', sep=' ', index=False, header=False)

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive